:root {
  --primary: #0036df;
  --alternative: gold;
  --bg: rgb(204, 204, 204);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(178, 179, 179, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 75vh;
  display: flex;
  align-items: center;
  background-image: url(../img/work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(1, 1, 1, 0.8);
  line-height: 1.2;
}

.hero .content span {
  color: var(--alternative);
}

.hero .content .cta {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.8);
}

/* About section */

.about, .team, .contact {
  padding: 8rem 7% 1.4rem;
}

.about h2, .team h2, .contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.team p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  /* font-weight: 100; */
  line-height: 1.6;
}

/* team section */

.team .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  justify-content: center;
}

.team .row .team-card {
  text-align: center;
  padding: 2rem;
}

.team .row .team-card img {
  border-radius: 50%;
  width: 70%;
}

.team .team-card .team-card-name {
  margin-top: 1rem auto 1rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  font-size: 1.8rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  font-weight: 100;
  line-height: 1.6;
}

/* section contact */

.contact .row {
  display: flex;
  justify-content: space-between;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: slategray;
  cursor: pointer;
}

/* footer section */

footer {
  background-color: slategrey;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .socials a:hover {
  color: var(--primary);
}

footer .links a:hover {
  color: var(--primary);
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--primary);
  font-weight: 700;
}
/* Media Query */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--bg);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;

  }
  .about .row .content p {
    font-size: 1.6rem;

  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    font-style: italic;
  }
  
}
